Dataset/Agriculture-Vision
ckpt/
mlpractical/
Agriculture-Vision.tar.gz
Dataset/Agriculture-Vision.tar.gz
Dataset/Reduced_dataset
env/
/google-cloud-sdk
/google-cloud-sdk.staging
Dataset/Agriculture-Vision.tar.gz?dl=0
google-cloud-sdk-269.0.0-linux-x86_64.tar.gz
