albumentations==0.5.2
argon2-cffi @ file:///tmp/build/80754af9/argon2-cffi_1596828493937/work
async-generator==1.10
attrs @ file:///tmp/build/80754af9/attrs_1600298409949/work
backcall==0.2.0
bleach @ file:///tmp/build/80754af9/bleach_1600439572647/work
certifi==2020.6.20
cffi @ file:///tmp/build/80754af9/cffi_1600699146221/work
chardet==4.0.0
cloudpickle==1.6.0
cycler==0.10.0
decorator==4.4.2
defusedxml==0.6.0
entrypoints==0.3
gym==0.18.0
idna==2.10
imageio==2.9.0
imgaug==0.4.0
importlib-metadata @ file:///tmp/build/80754af9/importlib-metadata_1593446406207/work
ipykernel @ file:///tmp/build/80754af9/ipykernel_1596207638929/work/dist/ipykernel-5.3.4-py3-none-any.whl
ipython @ file:///tmp/build/80754af9/ipython_1598883821407/work
ipython-genutils==0.2.0
ipywidgets @ file:///tmp/build/80754af9/ipywidgets_1601490159889/work
jedi @ file:///tmp/build/80754af9/jedi_1598371611696/work
Jinja2==2.11.2
joblib==1.0.0
jsonpatch==1.28
jsonpointer==2.0
jsonschema @ file:///tmp/build/80754af9/jsonschema_1601490578438/work
jupyter==1.0.0
jupyter-client @ file:///tmp/build/80754af9/jupyter_client_1601311786391/work
jupyter-console @ file:///tmp/build/80754af9/jupyter_console_1598884538475/work
jupyter-core==4.6.3
jupyterlab-pygments @ file:///tmp/build/80754af9/jupyterlab_pygments_1601490720602/work
kiwisolver==1.2.0
MarkupSafe==1.1.1
matplotlib @ file:///tmp/build/80754af9/matplotlib-base_1597876319132/work
mistune==0.8.4
mkl-fft==1.2.0
mkl-random==1.1.1
mkl-service==2.3.0
-e git+https://github.com/VICO-UoE/mlpractical.git@b93368f832b17f94361ab17c2a20b21464327e3b#egg=mlp
munch==2.5.0
nbclient @ file:///tmp/build/80754af9/nbclient_1601059699549/work
nbconvert @ file:///tmp/build/80754af9/nbconvert_1601069204803/work
nbformat==5.0.7
nest-asyncio @ file:///tmp/build/80754af9/nest-asyncio_1601499549014/work
networkx==2.5
notebook @ file:///tmp/build/80754af9/notebook_1601501575118/work
numpy @ file:///tmp/build/80754af9/numpy_and_numpy_base_1596233721170/work
olefile==0.46
opencv-python==4.5.1.48
opencv-python-headless==4.5.1.48
packaging==20.4
pandas==1.2.2
pandocfilters==1.4.2
parso==0.7.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow @ file:///tmp/build/80754af9/pillow_1594307295532/work
pretrainedmodels==0.7.4
prometheus-client==0.8.0
prompt-toolkit @ file:///tmp/build/80754af9/prompt-toolkit_1598885458782/work
protobuf==3.10.0
ptyprocess==0.6.0
pycparser @ file:///tmp/build/80754af9/pycparser_1594388511720/work
pyglet==1.5.0
Pygments @ file:///tmp/build/80754af9/pygments_1600458456400/work
pygraphviz==1.7
pyparsing==2.4.7
pyrsistent @ file:///tmp/build/80754af9/pyrsistent_1600141720057/work
python-dateutil==2.8.1
pytz==2021.1
PyWavelets==1.1.1
PyYAML==5.4.1
pyzmq==19.0.2
qtconsole @ file:///tmp/build/80754af9/qtconsole_1600870028330/work
QtPy==1.9.0
requests==2.25.1
scikit-image==0.18.1
scikit-learn==0.24.1
scipy==1.6.0
Send2Trash==1.5.0
Shapely==1.7.1
sip==4.19.13
six==1.15.0
sklearn==0.0
tensorboardX==1.9
terminado==0.8.3
testpath==0.4.4
threadpoolctl==2.1.0
tifffile==2021.2.1
torch==1.4.0
torchfile==0.1.0
torchvision==0.5.0
tornado==6.0.4
tqdm==4.36.1
traitlets @ file:///tmp/build/80754af9/traitlets_1600712396819/work
urllib3==1.26.3
visdom==0.1.8.9
wcwidth @ file:///tmp/build/80754af9/wcwidth_1593447189090/work
webencodings==0.5.1
websocket-client==0.57.0
widgetsnbextension==3.5.1
zipp==3.1.0
